html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
    background-image: url("../images/tilebg.png");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

a {
    color: #bb5599;
}

.tagline {
    font-family: "Annie Use Your Telescope", cursive;
    text-align: center;
    height: 60px;
}

.section-separator {
    background:#ffbde1;
    height: 40px;
    margin: 15px 0;
    border: none;
}

.content {
    margin: 0 auto;
    max-width: 960px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}

.preview-video {
    margin: 20px 0;
}

.download-link {
    margin: 20px auto 60px auto;
    display: table;
}

.promo-image {
    margin: 0 auto;
    display: table;
}

.grid-container {
    width: 100%;
    padding: 5px;
}

.grid-column {
    display: inline-block;
}

.grid-column__two-thirds {
    width: 66.6%;
}

.grid-column__one-third {
    width: 33.3%;
}

.container {
    padding: 10px;
}

hr {
    margin: 0 10px;
}

.store-banner {
    margin: 10px auto;
    display: table;
}

.screenshot {
    width: 100%;
}

.footer {
    background: #222;
    margin: 0;
}

.footer-content {
    max-width: 960px;
}

.footer-link {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
}