html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
    background-image: url("../images/tilebg.png");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

body h1 {
    font-family: "Annie Use Your Telescope", cursive;
    text-align: center;
    height: 46px;
}

.section-separator {
    background:#ffbde1;
    height: 40px;
    margin: 0;
    border: none;
}

.content {
    margin: 0 auto;
    width: 76%;
    background: white;
    box-shadow: 0px 0px 25px -3px gray;
}
