.main-content {
  max-width: 96rem;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}

.banner-divider {
  background:#ffbde1;
  height: 4rem;
  margin: 0;
  border: none;
}

.header-title {
  font-family: "Annie Use Your Telescope", cursive;
  text-align: center;
  margin: 3rem 1rem;
}

.preview-video {
  margin-bottom: 8rem;
}

.download-link {
  margin: 3rem 1rem 6rem;
}

.container-promo {
  padding: .5rem;
  height: 24rem;
  overflow: hidden;
}

.container-text-content {
  margin: 0 1rem;
}

.sub-header {
  text-align: center;
}

.store-banner {
  margin: 1rem 0;
}

.store-banner > a {
  max-width: 55.2rem;
}

.store-banner__image {
  max-width: 55.2rem;
}

.container-screenshots {
  margin: 1rem;
}

.screenshot {
  width: 100%;
  margin: .2rem 0;
}

.disclaimer {
  padding-bottom: 2rem;
}

.footer {
  background: #222;
  height: 9rem;
}

.footer-content {
  max-width: 96rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.footer-links {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: #fff;
  margin-top: 1.6rem;
}

.footer-links > a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 360px) {
  .footer-links {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
}
