html {
    box-sizing: border-box;
    /*
    * Support: Sizing with rem units
    * Default font-size of root is 16px. Want to change to 10px to make rem to px calculations easier.
    * Solution: Use percentage value to account for user changing default font size of browser.
    * Resources: https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
    */
    font-size: 62.5%;
}

body {
    box-sizing: inherit;
    margin: 0;
    background-image: url("../assets/images/tilebg.png");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

p, li {
  font-size: 1.6rem;
}

a {
    color: #bb5599;
}

.tagline {
    font-family: "Annie Use Your Telescope", cursive;
    text-align: center;
    height: 6rem;
}

.section-separator {
    background:#ffbde1;
    height: 4rem;
    margin: 1.5rem 0;
    border: none;
}

.content {
    margin: 0 auto;
    max-width: 96rem;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .3);
}

.preview-video {
    margin: 2rem 0;
}

.download-link {
    margin: 2rem auto 6rem auto;
    display: table;
}

.promo-image {
    margin: 0 auto;
    display: table;
}

.grid-container {
    width: 100%;
    padding: .5rem;
}

.grid-column {
    display: inline-block;
}

.grid-column__two-thirds {
    width: 66.6%;
}

.grid-column__one-third {
    width: 33.3%;
}

.container {
    padding: 1rem;
}

hr {
    margin: 0 1rem;
}

.store-banner {
    margin: 1rem auto;
    display: table;
}

.screenshot {
    width: 100%;
}

.footer {
    background: #222;
    margin: 0;
}

.footer-content {
    max-width: 96rem;
}

.footer-link {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
}
