html {
    box-sizing: border-box;
    /*
    * Support: Sizing with rem units
    * Default font-size of root is 16px. Want to change to 10px to make rem to px calculations easier.
    * Solution: Use percentage value to account for user changing default font size of browser.
    * Resources: https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97
    */
    font-size: 62.5%;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background-image: url("../assets/images/tilebg.png");
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

p, li {
  font-size: 1.6rem;
  line-height: 2.24rem;
}

a {
    color: #bb5599;
}

hr {
  height: 1px;
  margin: 1.6rem 0;
  border: 0;
  background: #dadada;
}
